amqp==5.0.6
asgiref==3.3.4
attrs==20.3.0
autobahn==21.2.1
Automat==20.2.0
billiard==3.6.4.0
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
constantly==15.1.0
cryptography==3.4.7
daphne==3.0.2
Django==3.0.8
django-cors-headers==3.7.0
django-crontab==0.7.1
django-jazzmin==2.4.6
django-jsoneditor==0.1.6
django-language-field==0.0.3
djangorestframework==3.12.4
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.0.1
incremental==21.3.0
kombu==5.0.2
language==0.6
Languages==1.0.0
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pandas-market-calendars==1.6.1
Pillow==8.2.0
prompt-toolkit==3.0.18
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
toolz==0.11.1
trading-calendars==2.1.1
Twisted==21.2.0
txaio==21.2.1
typing-extensions==3.7.4.3
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.4.1
zope.interface==5.4.0
